.arrayContainer{
  position:absolute;
  margin-left: 100px;
  background-color: #000;
  padding: 20px;
}

.arrayBar{
  width: 1px;
  background-color: #fff;
  display:inline-block;
  margin: 0px 0px;
  padding: 0;
}
